.nav-main{
    background: #223642 !important;
    color: #fff !important
}
.hidden-sm-and-down .v-icon {
    color: white !important;
}
.v-text-field__slot input{
    color: #000 !important;
}
.application--wrap {
    min-height: 0 !important;
}
.v-parallax__content{
    padding: unset !important;
}

.v-parallax__content .layout{
    background: #000;
    opacity: 0.7;
}

h3.subheading{
    font-size: 2rem !important;
}
