.nav-main{
    background: #223642 !important;
    color: #fff !important
}
.hidden-sm-and-down .v-icon {
    color: white !important;
}

.gray-text{
    color:#838383;
}

.v-picker.v-card, .v-select-list.v-card.theme--light{
    padding: 0 !important;
}

.side-right-menu{
    display: flex;
    padding-left: 0;
    justify-content: center;
    position: relative;
    background: #fff !important;
    box-shadow: 5px 10px 0 0 !important;
}

.v-select__slot{
    max-width: 200px;
}

.xs3 .v-card.v-sheet.theme--light{
    position: fixed;
}

.pa-0{
    padding: 0 !important;
}

.v-picker__actions.v-card__actions{
    background: #fff;
}

.v-text-field__slot input{
    color: #000 !important;
}
.application--wrap {
    min-height: 0 !important;
}
.v-parallax__content{
    padding: unset !important;
}

.v-parallax__content .layout{
    background: #000;
    opacity: 0.7;
}

h3::first-letter{
    text-transform: uppercase;
}

h3.title{
    padding-left: 2rem !important;
    padding-top: 2rem !important;
    width: 70%;
    text-align: left;
    font-size: 2.5rem !important;
}

.flex.xs12.md6 h3.title{
    font-size: 2rem !important;
}

h3.subheading{
    font-size: 2rem !important;
}

.v-card__title h3.headline{
    font-size: 2.2rem !important;
}

.nav-main .v-list__tile__title{
    color: #fff !important;
}
a .v-list__tile__title{
    color: #000 !important;
}

div a.v-list__tile{
    padding: 0 !important;
    border: 0 !important;  
}

.nav-main .v-list__tile__action{
    display: flex;
    justify-content: center;
}

.v-list__tile__action i{
    color: rgba(0,0,0,.54) !important;
}


.v-card__title .card-text{
    font-size: 1.15rem !important;
}

h1.font-weight-thin{
    font-weight: 300 !important;
}

.container.grid-list-md{
    padding-left: 0;
    padding-right: 0;
}

.nav-main i{
    color: #fff !important;
}

.v-list__group__items{
    background: #223642 !important;
}

.v-list__tile__action, .v-list__tile__action{
    color: #fff !important;
}

.v-list__group.v-list__group--active{
    top: 112% !important;
}

.v-list__group{
    top: unset !important;
}

.text-xs-center img{
    max-width: 100px;
}

.layout.display-3{
    font-size: 70px !important;
}

.afterTag:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 140px;
    margin-top: 0.8rem !important;
    border-bottom: 3px solid #223642;
}

.bg-gray{
    background: #fafafa !important;
}



.profile-container{
    height: 100vh;
}

.profile-header{
    font-weight: 500;
}

.hr-profile{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.border-gray{
    border: 2.5px solid #f5f5f5;
    border-radius: 5px;
}

.profile-subhead{
    font-weight: 100 !important;
}

.profile-header::first-letter{
    text-transform: uppercase;
}

.text-xs-center.display-1{
    font-size: 34px !important;
}

.card-text.display-1{
    font-weight: 500;
    font-size: 25px !important;
}

.text-xs-center p{
    font-size: 16px !important;
}
.v-card{
    padding: 25px;
    background: unset !important;
    box-shadow: unset !important;
}

.v-card.theme--light.v-sheet{
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.flex.primary.lighten-2 {
    background-color: #223642 !important;
    border-color: #223642 !important;
}
.v-btn.indigo--text {
    background: unset !important;
    background-color: #223642 !important;
    color: #223642 !important;
    caret-color: #223642 !important;
    margin-left: 0 !important;
}

.v-image .v-responsive__sizer{
    padding-bottom : 57.3636% !important;   
}

.flex-direction-column{
    flex-direction: column !important;
}

.v-responsive .v-responsive__content{
    align-items: center !important;
    display: flex;
}

.text-left{
    text-align: left;
}

.flex-end{
    display: flex;
    align-self: flex-end;
}

.date-span{
    font-size: 1.5rem !important;
    padding-right: 2rem !important;
    padding-top: 2.4rem !important;
    width: 83%;
    text-align: right;
}

.flex-settings{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.justify-content-end{
    justify-content: flex-end;
}

.w-50{
    width: 50%;
}
form {
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.v-label.primary--text, div.primary--text{
    color: #223642 !important;
    caret-color: #223642 !important;
}

footer .grey.darken-3{
    background-color: #223642!important;
    border-color: #223642!important;
}

.blue.darken-4{
    background-color: #223642!important;
    border-color: #223642!important;
}

.v-parallax{
    height: 100vh !important;
}

.my-5.display-1 {
    margin-top: 5rem!important;
    margin-bottom: 3rem!important;
}
.my-4.headline{
    margin-top: -0.5rem !important;
    margin-bottom: 4.5rem!important;
}

.img-profile{
    height: 35vh;
}

.mb-5.wrapper{
    margin-bottom: 5rem !important;
}
.v-parallax__image-container img{
    transform: unset !important;
    left: 0 !important;
}

.container {
    padding: 8rem 5rem !important;
}

.bg-white{
    background: #fff !important;
}

.v-select-list.v-card.theme--light .v-list__tile.v-list__tile--link{
    padding: 8px !important;
}